<div class="login">
    <h1 style="color: aliceblue;"><u>Login</u></h1>
      
      <mat-label style="color:aliceblue">Email</mat-label>
      <input matInput placeholder="Ex. Afnandasap@gmail.com" [(ngModel)]="user.email">
      <br><br>
      <mat-label style="color: aliceblue">Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" placeholder="Your password" [(ngModel)]="user.password" required>
      <button style="color: aliceblue;" mat-raised-button color="primary" (click)="login(user)">LOGIN</button>
      <div class="uk-flex uk-flex-right">
        <div class="uk-width-expand">
          <button style="color: aliceblue;" mat-button routerLink="/register">Create Account</button>
          
        </div>
  </div>