<div id="particle-container">
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  
</div>

<div class="login">
    <h1 style="color: aliceblue;"><u>Register</u></h1>
        <mat-label style="color: aliceblue">Email</mat-label>
        <input matInput placeholder="Ex. email@domain.com" [(ngModel)]="user.email">
        <br><br>
      <mat-label style="color: aliceblue">Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Your password" [(ngModel)]="user.password" required>
        <button style="color: aliceblue;" mat-raised-button color="primary" (click)="register(user)" [disabled]="loading">{{ loading ? 'TUNGGU...':'REGISTER'}}</button>
        <div class="uk-flex uk-flex-right">
        <div class="uk-width-expand">
        <button style="color: aliceblue;" mat-button routerLink="/login">I have an account</button>   
      </div>
</div>

