<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
            <div class="footer-col">
                <img style="border-radius: 10%;" src="https://i.pinimg.com/originals/8c/f8/38/8cf8381763ce5a3a556c4712c4fcade1.jpg">
            </div>
               <div class="footer-col">
                <h4>online shop</h4>
                <ul>
                    <li><a href="https://www.instagram.com/ai.vektorjogja/"><img style="border-radius: 50%; width: 20px; margin-right: 10px;" src="https://cdn.pixabay.com/photo/2017/11/10/05/04/instagram-2935404_960_720.png">ai.vektorjogja</a></li>
                </ul>
            </div>

               <div class="footer-col">
                <h4>location</h4>
                <ul>
                    <li><a href="https://goo.gl/maps/a8VF7U5jftqGxJ46A"><img style="border-radius: 50%; width: 20px;" src="https://cdn.pixabay.com/photo/2016/03/22/04/23/map-1272165_960_720.png">Mriyan, Timbulharjo, Kec. Sewon, Bantul, Daerah Istimewa Yogyakarta</a></li>
                </ul>
            </div>
         
            <div class="footer-col">
              <h4>for business</h4>
              <ul>
                  <li><a href="https://www.instagram.com/ai.vektorjogja/"><img style="border-radius: 50%; width: 20px; margin-right: 10px;" src="https://cdn.pixabay.com/photo/2017/11/10/05/04/instagram-2935404_960_720.png">ai.vektorjogja</a></li>
                  <li><a><img style="border-radius: 50%; width: 20px; margin-right: 10px;" src="https://cdn.pixabay.com/photo/2017/11/10/05/05/whatsapp-2935415_960_720.png">082144355717</a></li>
              </ul>
          </div>
  	 	</div>
  	 </div>
  </footer>

        
  <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 style="color: #24262b;" class="animate_animated animate_fadeInDown">Welcome to Ai.Design<span></span></h2> 
        </div>
      </div>

    </div>

  </section>
      
