<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<ng-container>
  <mat-toolbar color="primary">
    <div style="text-align: center;" class="container-fluid"> 
    <button mat-button style="background-color: #212121; color: rgb(255, 255, 255);" routerLink="admin/employee">DAFTAR HARGA</button>
      <span class="example-spacer"></span>
      <button mat-button style="margin-left: 10px; color: rgb(255, 69, 69);" (click)="logout()"> KELUAR</button>
      </div>
    </mat-toolbar>
    
   
<router-outlet></router-outlet>
</ng-container>


      
