<ng-container>
    <div class='header'>
        <div class='logo'>
            <h1 style="margin-top: 20px; margin-left: 15px; font-size: 20px;">TOKOKU</h1>
        </div>

        <div class='navbar'>
            <ul>
                <button mat-button style="font-size: 18px;" [matMenuTriggerFor]="menu">MENU TOKO</button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item style="background-color: rgb(243, 243, 243); color: rgb(0, 0, 0);" routerLink="/admin/employee">KARYAWAN</button>
                        <button mat-menu-item style="background-color: rgb(243, 243, 243); color :rgb(0, 0, 0);" routerLink="/admin/dashboard">DASHBOARD</button>
                        <button mat-menu-item style="background-color: rgb(243, 243, 243); color: rgb(0, 0, 0);" (click)="logout()">LOGOUT</button>
                </mat-menu>
            </ul>
        </div>
    </div>    
<router-outlet></router-outlet>
    </ng-container>