<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 


<nav style="background-color: #212121; padding: 13px; margin-bottom: 0%;" class="navbar navbar-light bg-light">
  <div style="text-align: center;" class="container-fluid"> 
      
      <button mat-button style="background-color: #212121; color: rgb(255, 255, 255)" routerLink="/profile">PROFIL</button>
      <button mat-button style="background-color: #212121; color: rgb(255, 255, 255);" routerLink="/list">DAFTAR HARGA</button>
      <button mat-button style="background-color: #212121; color: rgb(255, 255, 255)" routerLink="/shopping">PRODUK</button>
      <button mat-button style="background-color: #212121; color: rgb(33, 218, 0)" routerLink="/login">LOGIN</button>
      <button mat-button style="background-color: #212121; color: rgb(33, 218, 0)" routerLink="/register">REGISTER</button>
   </div>
  
</nav>

    
     
    <div id="wrapper">

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
            <li class="sidebar">
              <a style="font-size: 17px; margin-top: 10px;" routerLink="/shopping">Vektor Art</a>
          </li>
          <li>
              <a style="font-size: 17px; margin-top: 10px;" routerLink="/logo-art">Logo</a>
          </li>
            
           
          </ul>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-12">
                    <div class="container">

                      <br><br>
                    
                      <div class="card kotak" style="margin-left: 70px; display: inline-block; width: 23rem; border-radius: 3%;">
                        <img src="https://i.pinimg.com/originals/f0/e8/13/f0e813e312a5a26ab5f2970d191998f6.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <br>
                          <h5 style="font-size: 20px; text-align: center;" class="card-title">Vektor Art</h5>
                          <p style="text-align: justify; text-indent: 0.2in; font-size: 15px;"  class="card-text"></p>
                          <a href="https://www.instagram.com/ai.vektorjogja/"><button mat-button style="float: right; margin-left: 10px; background-color: #4CAF50; color: rgb(255, 255, 255);"> 
                            <mat-icon>shopping_cart</mat-icon>
                          </button>
                          </a>
                        </div>
                      </div>
                    
                      <div class="card kotak" style="margin-left: 70px; display: inline-block; width: 23rem;  border-radius: 3%;">
                        <img src="https://i.pinimg.com/originals/0d/25/31/0d2531e23fe3a937b20c4ce82299eefe.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <br>
                            <h5 style="font-size: 20px; text-align: center;" class="card-title">Vektor Art</h5>
                            <p style="text-align: justify; text-indent: 0.2in; font-size: 15px;"  class="card-text"></p>
                            <a href="https://www.instagram.com/ai.vektorjogja/"><button mat-button style="float: right; margin-left: 10px; background-color: #4CAF50; color: rgb(255, 255, 255);"> 
                              <mat-icon>shopping_cart</mat-icon>
                            </button>
                            </a>
                          </div>
                        </div>
                    
                      <div class="card kotak" style="margin-left: 70px; display: inline-block; width: 23rem;  border-radius: 3%;">
                        <img src="https://i.pinimg.com/originals/08/85/5e/08855ed2e7bc378037e115ae766914db.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <br>
                            <h5 style="font-size: 20px; text-align: center;" class="card-title">Vektor Art</h5>
                            <p style="text-align: justify; text-indent: 0.2in; font-size: 15px;"  class="card-text"></p>
                            <a href="https://www.instagram.com/ai.vektorjogja/"><button mat-button style="float: right; margin-left: 10px; background-color: #4CAF50; color: rgb(255, 255, 255);"> 
                              <mat-icon>shopping_cart</mat-icon>
                            </button>
                            </a>
                          </div>
                        </div>
                    
                      <div class="card kotak" style="margin-left: 70px; display: inline-block; width: 23rem; border-radius: 3%;">
                        <img src="https://i.pinimg.com/originals/e9/cf/9c/e9cf9c85e0be469403fad1c63af254ec.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <br>
                            <h5 style="font-size: 20px; text-align: center;" class="card-title">Vektor Art</h5>
                            <p style="text-align: justify; text-indent: 0.2in; font-size: 15px;"  class="card-text"></p>
                            <a href="https://www.instagram.com/ai.vektorjogja/"><button mat-button style="float: right; margin-left: 10px; background-color: #4CAF50; color: rgb(255, 255, 255);"> 
                              <mat-icon>shopping_cart</mat-icon>
                            </button>
                            </a>
                          </div>
                        </div>
                    
                      <div class="card kotak" style="margin-left: 70px; display: inline-block; width: 23rem; border-radius: 3%;">
                        <img src="https://i.pinimg.com/originals/8f/62/fb/8f62fb48000c47c36e19a7ca5c55a5c4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <br>
                            <h5 style="font-size: 20px; text-align: center;" class="card-title">Vektor Art</h5>
                            <p style="text-align: justify; text-indent: 0.2in; font-size: 15px;"  class="card-text"></p>
                            <a href="https://www.instagram.com/ai.vektorjogja/"><button mat-button style="float: right; margin-left: 10px; background-color: #4CAF50; color: rgb(255, 255, 255);"> 
                              <mat-icon>shopping_cart</mat-icon>
                            </button>
                            </a>
                          </div>
                        </div>
                    
                      <div class="card kotak" style="margin-left: 70px; display: inline-block; width: 23rem;  border-radius: 3%;">
                        <img src="https://i.pinimg.com/originals/f4/d9/ef/f4d9ef28efc341dfa99fca1fe161aa58.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <br>
                            <h5 style="font-size: 20px; text-align: center;" class="card-title">Vektor Art</h5>
                            <p style="text-align: justify; text-indent: 0.2in; font-size: 15px;"  class="card-text"></p>
                            <a href="https://www.instagram.com/ai.vektorjogja/"><button mat-button style="float: right; margin-left: 10px; background-color: #4CAF50; color: rgb(255, 255, 255);"> 
                              <mat-icon>shopping_cart</mat-icon>
                            </button>
                            </a>
                          </div>
                        </div>
                    
                      <div class="card kotak" style="margin-left: 70px; display: inline-block; width: 23rem; border-radius: 3%;">
                        <img src="https://i.pinimg.com/originals/6c/cc/9d/6ccc9d3a45d9458533400796a4851eae.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <br>
                          <h5 style="font-size: 20px; text-align: center;" class="card-title">Vektor Art</h5>
                          <p style="text-align: justify; text-indent: 0.2in; font-size: 15px;"  class="card-text"></p>
                          <a href="https://www.instagram.com/ai.vektorjogja/"><button mat-button style="float: right; margin-left: 10px; background-color: #4CAF50; color: rgb(255, 255, 255);"> 
                            <mat-icon>shopping_cart</mat-icon>
                          </button>
                          </a>
                        </div>
                    </div>
                
                    </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->
      
 
      